// import colors.scss and fonts.scss + contains all others variables
@import "colors";
@import "fonts";

$body-bg: rgba(22, 30, 41, 0.788);
$primary: rgba(22, 30, 41, 0.87);
$dark: rgb(196, 113, 19);

$navbar-dark-color:                 rgba($dark, .5);
$navbar-dark-hover-color:           rgba($dark, .75);
$navbar-dark-active-color:          $dark;
$navbar-dark-disabled-color:        rgba($dark, .25);
$navbar-dark-toggler-border-color:  rgba($dark, .1);

$navbar-padding-y: 0;