<div class="container-fluid mx-2">
    <div class="row my-2">
        <button type="button" class="btn btn-secondary btn-sm" (click)="getFilms()">Get Films</button>
    </div>

    <div *ngIf="filmList.length > 0">
        <div class="row">
            <div class="col-md-1">#</div>
            <div class="col-md-4">Title</div>
            <div class="col-md-3">Director</div>
            <div class="col-md-2 text-right">Release Year</div>
        </div>

        <div class="my-2" *ngFor="let currFilm of filmList">
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-sm" (click)="toggleDisplayDesc(currFilm)">\/</button>
                </div>
                <div class="col-md-4">{{ currFilm.title }}</div>
                <div class="col-md-3">{{ currFilm.director }}</div>
                <div class="col-md-2 text-right">{{ currFilm.release_date }}</div>
            </div>
            <div class="row">
                <div class="col-md-10" [hidden]="!currFilm.displayDesc">{{ currFilm.description }}</div>
            </div>
        </div>
    </div>
</div>