<div class="container-fluid mx-2">
    <button class="my-2" mat-raised-button color="primary" (click)="getFilms()">Get Films</button>

    <div *ngIf="filmList.length > 0">
        <mat-table #table [dataSource]="dataSource" matSort>
            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                <mat-cell *matCellDef="let film"> {{film.title}} </mat-cell>
            </ng-container>

            <!-- Director Column -->
            <ng-container matColumnDef="director">
                <mat-header-cell *matHeaderCellDef> Director </mat-header-cell>
                <mat-cell *matCellDef="let film"> {{film.director}} </mat-cell>
            </ng-container>

            <!-- Release Year Column -->
            <ng-container matColumnDef="releaseYear">
                <mat-header-cell *matHeaderCellDef> Release Year </mat-header-cell>
                <mat-cell *matCellDef="let film"> {{film.release_date}} </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let film">
                    <button mat-button color="primary" (click)="showDesc(film.description)">View</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>