<div class="container-fluid mx-2">
    <button type="button" class="btn btn-secondary btn-sm" (click)="getFilms()">Get Films</button>

    <div *ngIf="filmList.length > 0">
        <span class="d-none d-md-block">
            <div class="row headerRow">
                <div class="col-md-5">Title</div>
                <div class="col-md-3">Director</div>
                <div class="col-md-2">Release Year</div>
            </div>
        </span>
        <div class="my-2" *ngFor="let currFilm of filmList">
            <div class="row contentRow">
                <div class="col-md-5">
                    <button class="btn btn-light btn-sm">
                        <img class="icon align-top" *ngIf="!currFilm.displayDesc" src="./../../assets/open_iconic/svg/chevron-right.svg" alt="chevron-right"
                            (click)="toggleDisplayDesc(currFilm)">
                        <img class="icon align-top" *ngIf="currFilm.displayDesc" src="./../../assets/open_iconic/svg/chevron-bottom.svg" alt="chevron-bottom"
                            (click)="toggleDisplayDesc(currFilm)">
                    </button>
                    {{ currFilm.title }}
                </div>
                <div class="col-md-3">{{ currFilm.director }}</div>
                <div class="col-md-2">{{ currFilm.release_date }}</div>
                <div class="w-100"></div>
                <div class="col-md-10" [hidden]="!currFilm.displayDesc">{{ currFilm.description }}</div>
            </div>
        </div>
    </div>
</div>